# Week_02

## Comments and Basic Data types

In [3]:
#this is a comment

In [2]:
print("Hello")                  #This is a comment

Hello

In [6]:
"""
This is a multiline comment
This is interesting 
"""
print("HELLO")             #This is also a comment

HELLO

In [1]:
#The following are all integers.
print(2)
print(3)
print(10)

2
3
10

In [10]:
#The following are all floats
print(2.666)
print(10.55)
print(1.1)
print(6.0)

2.666
10.55
1.1
6.0

In [11]:
#The following are strings
print("")
print("My name is Atika!")
print('True')

My name is Atika!
True

In [12]:
#The following are Booleans
print(True)
print(False)

True
False

In [13]:
type(5.5)

float

In [14]:
type(30)

int

In [16]:
type(True)

bool

In [17]:
type('Dee')

str

## Variables

In [2]:
num1=5                             #Storing an integer into a variable
num2=8.5                           #Storing an integer ito a  variable
print(num1, num2)                  #You can print multiple items using commas

5 8.5

In [22]:
#Storing a boolean onto a variable
Switch=True
print(Switch)

True

In [23]:
#Storing strings into avariable
Name = "Diana Atika"
Fav_number = '3'
print(Name, Fav_number)

Diana Atika 3

In [24]:
#Using two variables to create another variable
result = num1+num2
print(result)

13.5

In [25]:
#adding, deleting, multiplyng, dividing from a variable
result += 1                                      #same as saying result =result + 1
print(result)
result *= num1                                   #same as saying result =result * num1
print(result)

14.5
72.5

In [26]:
#Defining a variable and overwriting its value
name = "John"
print(name)
name = "Sam"
print(name)

John
Sam

In [28]:
#tuesday exercise_1
x = 3
y = 10
print(x, y)

3 10

In [4]:
result = x*y
print(result)
result = x+y
print (result)

NameError: name 'x' is not defined

In [3]:
#tuesday exercise_2
width = 13.66
length = 245.54
print(width, length)
result = width * length                   #area calculation
print(result)

13.66 245.54
3354.0764

## Working with strings

In [4]:
#concatenating strings
#using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [3]:
#Using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [8]:
print('Diana')

Diana